
table{
font-size: 9pt;
cursor: default;
}

.frame{
font-family: verdana, sans-serif; 
color: #262626;
background-color: #E8E3DD;
scrollbar-face-color: #EDE9E4;
scrollbar-shadow-color: #D8D0C8;
scrollbar-highlight-color: #EDE9E4;
scrollbar-3dlight-color: #81756A;
scrollbar-darkshadow-color: #81756A;
scrollbar-track-color: #E6E0DB;
scrollbar-arrow-color: #404135;
}
.framea{height: 18px; width: 6px; background-image:url('framea.png');}
.frameab{background-image:url('frameab.png');}
.frameb{width: 6px; background-image:url('frameb.png');}
.frameac{width: 6px; background-image:url('frameac.png');}
.framec{height: 18px; width: 6px; background-image:url('framec.png');}
.framecd{background-image:url('framecd.png');}
.framed{width: 6px; background-image:url('framed.png');}
.framebd{width: 6px; background-image:url('framebd.png');}

.pagea{height: 25px; width: 4px; background-image:url('pagea.png');}
.pageab{height: 25px; background-image:url('pageab.png');}
.pageb{width: 4px; background-image:url('pageb.png');}
.pageaOn{height: 25px; width: 4px; background-image:url('pagea_on.png');}
.pageabOn{background-image:url('pageab_on.png');}
.pagebOn{width: 4px; background-image:url('pageb_on.png');}
.pageaOff{height: 25px; width: 4px; background-image:url('pagea_off.png');}
.pageabOff{background-image:url('pageab_off.png');}
.pagebOff{width: 4px; background-image:url('pageb_off.png');}
.pageac{width: 4px; background-image:url('pageac.png');}
.pagec{height: 4px; width: 4px; background-image:url('pagec.png');}
.pagecd{background-image:url('pagecd.png');}
.pagebd{width: 4px; background-image:url('pagebd.png');}
.paged{width: 4px; background-image:url('paged.png');}

.buttona{height:6px; width:6px; background-image:url('buttona.png');}
.buttonab{height:6px; background-image:url('buttonab.png');}
.buttonb{height:6px; width:6px; background-image:url('buttonb.png');}
.buttonac{width:6px; background-image:url('buttonac.png');}
.buttonc{height:6px; width:6px; background-image:url('buttonc.png');}
.buttoncd{height:6px; background-image:url('buttoncd.png');}
.buttonbd{width:6px; background-image:url('buttonbd.png');}
.buttond{height:6px; width:6px; background-image:url('buttond.png');}
.buttonabcd{text-align:center; font-size: 9pt; background-image:url('buttonabcd.png');}
.buttonaOn{height:6px; width:6px; background-image:url('buttona_on.png');}
.buttonabOn{height:6px; background-image:url('buttonab_on.png');}
.buttonbOn{height:6px; width:6px; background-image:url('buttonb_on.png');}
.buttonacOn{width:6px; background-image:url('buttonac_on.png');}
.buttoncOn{height:6px; width:6px; background-image:url('buttonc_on.png');}
.buttoncdOn{height:6px; background-image:url('buttoncd_on.png');}
.buttonbdOn{width:6px; background-image:url('buttonbd_on.png');}
.buttondOn{height:6px; width:6px; background-image:url('buttond_on.png');}
.buttonabcdOn{text-align:center; font-size: 12pt; background-image:url('buttonabcd_on.png');}
.buttonaNo{height:6px; width:6px; background-image:url('buttonano.png');}
.buttonabNo{height:6px; background-image:url('buttonabno.png');}
.buttonbNo{height:6px; width:6px; background-image:url('buttonbno.png');}
.buttonacNo{width:6px; background-image:url('buttonacno.png');}
.buttoncNo{height:6px; width:6px; background-image:url('buttoncno.png');}
.buttoncdNo{height:6px; background-image:url('buttoncdno.png');}
.buttonbdNo{width:6px; background-image:url('buttonbdno.png');}
.buttondNo{height:6px; width:6px; background-image:url('buttondno.png');}
.buttonabcdNo{text-align:center; font-size: 9pt; color: #BBAFA4; background-image:url('buttonabcdno.png');}

td.No{font-size: 9pt; color: #BBAFA4;}

.togglea{height:25px; width:10px; background-image:url('togglea.png');}
.toggleab{font-size: 9pt; background-image:url('toggleab.png');}
.toggleb{width:10px; background-image:url('toggleb.png');}
.toggleaOn{height:25px; width:10px; background-image:url('togglea_on.png');}
.toggleabOn{font-size: 9pt; background-image:url('toggleab_on.png');}
.togglebOn{width:10px; background-image:url('toggleb_on.png');}
.toggleaNo{height:25px; width:10px; background-image:url('toggleano.png');}
.toggleabNo{font-size: 9pt; color: #BBAFA4; background-image:url('toggleabno.png');}
.togglebNo{width:10px; background-image:url('togglebno.png');}
.toggleaOnNo{height:25px; width:10px; background-image:url('togglea_onno.png');}
.toggleabOnNo{font-size: 9pt; color: #BBAFA4; background-image:url('toggleab_onno.png');}
.togglebOnNo{width:10px; background-image:url('toggleb_onno.png');}

.entry{font-family: verdana, sans-serif; font-size: 9pt; border-style: solid; border-width: 0px;}
.entrya{height: 25px; width: 6px; background-image:url('entrya.png');}
.entryab{background-image:url('entryab.png');}
.entryb{width: 6px; background-image:url('entryb.png');}
.entryNo{font-family: verdana, sans-serif;  font-size: 9pt; border-style: solid; border-width: 0px; color: #BBAFA4;}

.texta{height: 6px; width: 6px; background-image:url('texta.png');}
.textab{background-image:url('textab.png');}
.textac{background-image:url('textac.png');}
.textb{width: 6px; background-image:url('textb.png');}
.textc{height: 6px; width: 6px; background-image:url('textc.png');}
.textcd{background-image:url('textcd.png');}
.textbd{background-image:url('textbd.png');}
.textd{width: 6px; background-image:url('textd.png');}
.textabcd{background-color: white;}

.progressa{width: 3px; height: 26px; background-image:url('progressa.png');}
.progressab{background-image:url('progressab.png');}
.progressb{width: 3px; background-image:url('progressb.png');}
.progress2a{width: 5px; height: 20px; background-image:url('progress2a.png');}
.progress2ab{background-image:url('progress2ab.png');}
.progress2b{width: 5px; background-image:url('progress2b.png');}


.clist
{
background-color: #FFFFFF;
border-style: solid;
border-width: 1px;
border-color: #BCB0A4;
}
.cclista{width: 6px; height: 20px; background-image:url('clista.png');}
.cclistab{background-image:url('clistab.png');}
.cclistb{width: 6px; height: 20px; background-image:url('clistb.png');}
.inclist
{
background-color: #FFFFFF;
font-family: verdana, sans-serif; 
color: #262626;
scrollbar-face-color: #EDE9E4;
scrollbar-shadow-color: #D8D0C8;
scrollbar-highlight-color: #EDE9E4;
scrollbar-3dlight-color: #81756A;
scrollbar-darkshadow-color: #81756A;
scrollbar-track-color: #E6E0DB;
scrollbar-arrow-color: #404135;
}
.inselectedclist
{
background-color: #8AA7BA;
border-style: solid;
}
